.experise_icon, .industries_icon, .price_icon, .agility_icon{
	background: url(sprites.png) no-repeat;
}

.experise_icon{
	background-position: -130px 0;
	width: 161px;
	height: 119px;
}

.industries_icon{
	background-position: -457px 0;
	width: 141px;
	height: 141px;
}

.price_icon{
	background-position: 0 0;
	width: 124px;
	height: 128px;
}

.agility_icon{
	background-position: -296px -1px ;
	width: 157px;
	height: 149px;
}

